<form class="form" action="#">
  <h1>Displaying messages</h1>
  <div class="input-container">
    <label for="message">Message:</label>
    <input type="text" placeholder="Write your message" [(ngModel)]="message" name="message" autocomplete="off">
  </div>
  <div class="input-container">
    <label for="alert-type">Message type:</label>
    <select name="alert-type">
      <option>Select a message type</option>
      <option value="alert">Alert</option>
      <option value="success">Success</option>
      <option value="error">Error</option>
    </select>
  </div>
  <div class="input-container">
    <button (click)="showMessage()">Show message</button>
  </div>
</form>

<app-message title="Saludo">
  <div class="content">
    {{ message }}
  </div>
</app-message>